@media only screen and (min-width: 768px) {
    body {
        background-color: #222831;
    }
    header {
        padding: 0 2.5rem;
    }

    .icon {
        display: none;
    }

    nav ul {
        display: flex;

        justify-content: space-around;
    }

    nav {
        flex-grow: 1;
    }

    nav ul li {
        flex-grow: 1;
        text-align: center;
    }

    .skills-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-card-info {
        text-align: center;
    }

    .skill-card {
        flex-basis: 45%;
    }

    .contacts {
        flex-direction: row;
    }

    .contact-info {
        flex-basis: 50%;
    }

    .contact-form {
        flex-basis: 50%;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }


}






@media only screen and (min-width: 1000px) {
    body {
        background-color: #222831;
        width: 80%;
        margin: 0 auto;
    }

    .skill-card {
        flex-basis: 30%;
    }

}